@charset "UTF-8";
/* line 1, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

/* line 20, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
html {
  font-family: "MontserratT";
  font-weight: normal;
}

/* line 27, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 33, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section {
  min-height: 800px;
  background: #F0F0F0;
  padding-top: 16px;
  position: relative;
  overflow: hidden;
}

/* line 39, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section__nav-container {
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

/* line 44, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section__logo {
  width: 134px;
}

/* line 46, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section__content-container {
  position: relative;
  display: flex;
}

/* line 49, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section__first-ellipse {
  position: absolute;
  top: 129px;
  right: 33px;
}

/* line 53, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.main-section__second-ellipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

/* line 60, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.nav-menu__list {
  display: flex;
}

/* line 62, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
  font-weight: bold;
}

/* line 66, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0;
}

/* line 68, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.nav-menu__list-item a {
  text-decoration: none;
  color: black;
}

/* line 73, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 75, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 78, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  z-index: 2;
  top: 140px;
  left: -57px;
  border-radius: 100px;
  width: 590px;
  height: 220px;
  background: #5290EA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
}

/* line 89, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  z-index: 3;
  top: 160px;
  left: -30px;
  border-radius: 100px;
  width: 620px;
  height: 220px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f28b64;
  transform: rotate(-51deg);
}

/* line 100, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  z-index: 1;
  left: 22px;
  top: 190px;
  border-radius: 100px;
  width: 590px;
  height: 220px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #e2e2e2;
  transform: rotate(-36deg);
}

/* line 112, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
  z-index: 5;
}

/* line 118, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}

/* line 121, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.right-wrapper__title {
  margin-bottom: 5px;
}

/* line 123, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 127, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.icons {
  display: flex;
  gap: 17px;
}

/* line 132, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.title {
  font-size: 72px;
  position: relative;
  font-weight: bold;
}

/* line 136, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.title__hr {
  width: 65px;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}

/* line 144, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.buttons {
  display: flex;
}

/* line 146, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background: #f28b64;
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* line 157, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.buttons__icon-btn {
  display: flex;
  align-items: center;
}

/* line 160, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.buttons__icon-btn img {
  margin-right: 12px;
}

/* line 162, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.buttons__text {
  font-size: 16px;
}

/* line 165, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.ellipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(143.59deg, rgba(237, 123, 80, 0.5) 14.848%, rgba(72, 138, 234, 0.5) 53.247%, rgba(44, 44, 44, 0.5) 85.739%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 173, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.ellipse_big {
  width: 282px;
  height: 282px;
}

/* line 176, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.ellipse__subtract {
  width: 129px;
  height: 129px;
  background: #F0F0F0;
  border-radius: 150px;
}

/* line 181, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.ellipse__subtract_big {
  width: 188px;
  height: 188px;
}

/* line 184, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.ellipse__subtract_white {
  background: white;
}

/* line 191, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section {
  overflow: hidden;
  min-height: 700px;
}

/* line 194, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__container {
  padding-top: 32px;
  position: relative;
}

/* line 197, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__title {
  margin-bottom: 40px;
}

/* line 199, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__cards-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 26px;
}

/* line 204, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__icons-box {
  display: flex;
  justify-content: center;
  gap: 60px;
}

/* line 208, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__first-ellipse {
  position: absolute;
  top: 80px;
  right: -60px;
  z-index: -1;
}

/* line 213, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.second-section__second-ellipse {
  position: absolute;
  top: 350px;
  left: -82px;
  z-index: -1;
}

/* line 221, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.cards-item {
  position: relative;
  width: 360px;
  height: 360px;
  background: #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-end;
}

/* line 230, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.cards-item__img {
  height: 335px;
}

/* line 232, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.cards-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 144px;
  right: -30px;
  font-weight: bold;
}

/* line 242, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.cards-item_orange {
  background: #f28b64;
}

/* line 245, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.cards-item_blue {
  background: #5290EA;
}

/* line 249, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.icons-item {
  display: flex;
  align-items: center;
}

/* line 252, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}

/* line 255, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.icons-item__text {
  font-size: 18px;
}

/* line 257, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.icons-item__text span {
  font-size: 48px;
  font-weight: bold;
}

/* line 261, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.title__hr_bottom {
  bottom: -10px;
}

/* line 265, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section {
  position: relative;
  min-height: 640px;
  background: #F0F0F0;
  z-index: 0;
  overflow: hidden;
}

/* line 271, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__container {
  display: flex;
  align-items: center;
  padding-top: 46px;
  padding-left: 167px;
  justify-content: space-between;
}

/* line 277, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__right-wrapper {
  max-width: 480px;
}

/* line 279, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__right-title {
  margin-bottom: 20px;
}

/* line 281, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}

/* line 284, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__first-ellipse {
  position: absolute;
  top: 140px;
  left: 110px;
  z-index: -1;
}

/* line 289, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__figure {
  position: absolute;
  top: 249px;
  left: 15px;
  z-index: -1;
}

/* line 294, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.third-section__second-ellipse {
  position: absolute;
  top: -120px;
  right: -120px;
}

/* line 299, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.title__hr_top {
  bottom: 75px;
}

/* line 303, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.footer__container {
  min-height: 272px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* line 308, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.footer__img {
  position: absolute;
  left: -250px;
  bottom: 0;
}

/* line 312, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
.footer__title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  /* line 317, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .container {
    width: 960px;
  }
  /* line 319, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .main-section {
    min-height: 690px;
  }
  /* line 321, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .main-section__first-ellipse {
    right: 10px;
  }
  /* line 323, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .main-section__second-ellipse {
    top: 560px;
  }
  /* line 326, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .left-wrapper img {
    width: 750px;
  }
  /* line 328, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .left-wrapper__rectangle-blue {
    width: 500px;
    height: 200px;
  }
  /* line 331, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .left-wrapper__rectangle-orange {
    width: 550px;
    height: 200px;
    left: -43px;
  }
  /* line 335, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .left-wrapper__rectangle-grey {
    width: 500px;
    height: 200px;
  }
  /* line 338, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .right-wrapper {
    right: 20px;
  }
  /* line 341, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .second-section {
    min-height: 600px;
  }
  /* line 343, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .second-section__cards-box {
    justify-content: center;
    gap: 20px;
  }
  /* line 346, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .second-section__icons-box {
    gap: 10px;
  }
  /* line 348, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .cards-item {
    width: 300px;
    height: 300px;
  }
  /* line 351, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .cards-item__img {
    height: 270px;
  }
  /* line 353, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .cards-item__text {
    top: 120px;
    right: -50px;
    font-size: 30px;
  }
  /* line 358, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .third-section__container {
    padding-left: 40px;
  }
  /* line 360, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .third-section__right-wrapper {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  /* line 364, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  /* line 368, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .container {
    width: 540px;
  }
}

@media (max-width: 575px) {
  /* line 372, ../../../../!Моё обучение/WebDevelopmentHTML/layout-from-scratch/task-4/src/sass/style.sass */
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */