*
  box-sizing: border-box
  
$color-blue: #5290EA
$color-orange: #f28b64
$color-grey: #e2e2e2
  
  
.container
  max-width: 1140px
  margin: 0 auto

  // первая секция
.main-section
  height: 800px
  background: #F0F0F0
  padding-top: 16px
  &__nav-container
    display: flex
    justify-content: space-between
    height: 69px
    align-items: center
  &__logo
    width: 134px
  &__content-container
    display: flex

  // блок nav-menu можно переиспользовать
.nav-menu
  &__list
    display: flex
  &__list-item
    margin-right: 64px
    font-size: 18px
    &:last-child
      margin-right: 0
    ////////////////////////////

.left-wrapper
  position: relative
  img
    position: relative
    z-index: 5
  &__rectangle-blue
    position: absolute
    z-index: 2
    top: 140px;
    left: -57px;
    border-radius: 100px
    width: 590px
    height: 220px
    background: $color-blue
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    transform: rotate(-64deg)
  &__rectangle-orange
    position: absolute
    z-index: 3
    top: 160px
    left: -30px
    border-radius: 100px
    width: 620px
    height: 220px
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    background: $color-orange
    transform: rotate(-51deg)
  &__rectangle-grey
    position: absolute
    z-index: 1
    left: 22px
    top: 190px
    border-radius: 100px
    width: 590px
    height: 220px
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    background: $color-grey
    transform: rotate(-36deg)

.icons
  display: flex
  gap: 17px
  